<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <form action="/registro" method="get">
        <label for="">Nombre</label>
        <input type="text" name="nombre completo" id="">
        <br>
        <label for="">Telefono</label>
        <input type="tel" name="telefono" id="">
        <br>
        <label for="">Email</label>
        <input type="email" name="email" id="">
        <br>
        <label for="">Contrase침a</label>
        <input type="password" name="contrase침a" id="">
        <br>
        <label for="">Direcci칩n</label>
        <input type="text" name="direcci칩n" id="">
        <br>
        <label for="">Fecha de nacimiento</label>
        <input type="date" name="fechaDeNacimiento" id="">
        <br>
        <input type="submit" value="enviar">
    </form>
</body>
</html>